# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# log files
*.log

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local .env files
*.env

# System files
.DS_Store
Thumbs.db

# IFC- und sonstige Modell-Dateien
*.ifc
*.ifcxml

# Versuchsreihe 1
1_Machbarkeit/1 Model_Database/

1_Machbarkeit/2 Data_Preprocessing/Modell_2_Parametrisch Stahl 00000_01535/
1_Machbarkeit/2 Data_Preprocessing/Modell_2_Parametrisch Stahlbeton 00000_01535/
1_Machbarkeit/2 Data_Preprocessing/Modell_2_Parametrisch Stahlbeton 01200_01535/
1_Machbarkeit/2 Data_Preprocessing/Modell_2_Parametrisch Stahlbeton 01530_01535/
1_Machbarkeit/2 Data_Preprocessing/Modell_2_Tutorial BimVision/
1_Machbarkeit/2 Data_Preprocessing/Modell_3 Reale_Modelle/

1_Machbarkeit/3 Model_Training/Modell_2_Parametrisch Stahlbeton 00000_01535/
1_Machbarkeit/3 Model_Training/Modell_2_Parametrisch Stahlbeton 01200_01535/

1_Machbarkeit/4 Results/*
# !1_Machbarkeit/4 Results/Modell_2_Parametrisch Stahlbeton alt 00000_01535 Paper Nr2/ #So könnte man eine Ausnahme speichern, aber die Pfadnamen sind zu lang.

# Versuchsreihe 2
2_Anwendungsgrenzen/1 Model_Database/
2_Anwendungsgrenzen/2 Data_Preprocessing/2_1 Graph_Generation/
2_Anwendungsgrenzen/2 Data_Preprocessing/2_2 Distance_Meassurement/
2_Anwendungsgrenzen/2 Data_Preprocessing/2_3 Edge_Labeling/
2_Anwendungsgrenzen/2 Data_Preprocessing/2_4 Graph_Labeled/
2_Anwendungsgrenzen/2 Data_Preprocessing/Analysemodelle/

2_Anwendungsgrenzen/3 Model_Training/Test*/

2_Anwendungsgrenzen/4 Results/
# Sonstiges, z.B. temp-Dateien:
temp/
tmp/
